$primaria: #000000; // Preto
$secundaria: #007bff; // Azul

.container {
  .card {
    border: none;
    border-radius: 0.5rem;
    .card-title {
      color: $primaria;
    }
    .btn-primary {
      background-color: $secundaria;
      border-color: $secundaria;
      &:hover {
        background-color: darken($secundaria, 10%);
        border-color: darken($secundaria, 10%);
      }
    }
  }
}
